{% extends "mainapp/basic.html" %}

{% block body %}      

{% load crispy_forms_tags %}

<table class="table table-dark">
    <thead>
      <tr>
        <th>Website</th>
        <th>URL</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    <!-- jinja2 Technique -->
    {% if products %}  
        {% for product in products %}
        <tr>
            <td>{{product.website}}</td>
            <td>{{product.url}}</td>
            <td>{{product.price}}</td>
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
  </table>


{% endblock body %}  